[Unit]
Description={{ lita_name }} instance
Requires=redis.service
After=redis.service

[Service]
Type=simple
User={{ lita_user }}
Group={{ lita_group }}
WorkingDirectory={{ lita_home }}/{{ lita_name }}
ExecStart=/usr/bin/bash -lc 'bundle exec lita'
TimeoutSec=30
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
